body {
  margin: 0;
    padding:10px;
}

.cell {
    font-size:10px;
    text-align:center;
    width:25px;
    height:25px;
    border: 1px solid #ddd;
    float:left
}

.lit {
    background-color: #ccc;
}

.row {
    clear:both;
}
